---
layout: default
title: Edward SSG
---
h1.center Edward Static Site Generator
image.center src="assets/Jekyll-mansfield.jpg" width="200px" alt="Photo by Henry Van der Weyde (1838-1924; London, England), Public domain, via Wikimedia Commons"

== include "README.adoc"
