body {
  background-color: #ffd289;
  margin-left: 20%;
  margin-right: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

* {
  font-family: serif;
}


pre {
  line-height: 1.45;
  text-rendering: optimizeSpeed;
  white-space: pre-wrap;
  background: #cec1b7;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px;
}
