body {
  background-color: #ffd289;
  margin-left: 20%;
  margin-right: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

* {
  font-family: serif;
}


pre {
  line-height: 1.45;
  text-rendering: optimizeSpeed;
  white-space: pre-wrap;
  background: #cec1b7;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px;
}

/* ignore errors loll */
pre.pygments .tok-err {
  border: none !important;
}

.admonitionblock {
  .title {
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    margin: 10px;
  }
  .content {
    font-size: 20px;
  }
}
/*
.admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%}
.admonitionblock>table td.icon{text-align:center;width:80px}
.admonitionblock>table td.icon img{max-width:none}
.admonitionblock>table td.icon .title{font-weight:bold;font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase}
.admonitionblock>table td.content{padding-left:1.125em;padding-right:1.25em;border-left:1px solid #dddddf;color:rgba(0,0,0,.6);word-wrap:anywhere}
.admonitionblock>table td.content>:last-child>:last-child{margin-bottom:0}*/
