body {
  background-color: #ffe8bb;
  margin-left: 30%;
  margin-right: 30%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

* {
  font-family: serif;
}

pre {
  line-height: 1.45;
  text-rendering: optimizeSpeed;
  white-space: pre-wrap;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
}

code {
  background: #2b2520;
  color: #d4c5b9;
  border-radius: 3px;
  padding: 0px 3px 2px 3px;
}

h2 {
  font-size: 32px;
}

h1 {
  font-size: 42px;
}

p {
  font-size: 20px;
}

/* ignore errors loll */
pre.pygments .tok-err {
  border: none !important;
  background-color: inherit !important;
  color: inherit !important;
}

.admonitionblock {
  .title {
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    margin: 10px;
  }
  .content {
    font-size: 20px;
  }
}

.admonitionblock.warning, .admonitionblock.caution, .admonitionblock.important {
  .title {
    color: crimson;
  }
}

a.anchor {
  position: absolute;
  margin-left: -1.5ex;
  width: 1.5ex;
  text-align: center;
  text-decoration: none;
  visibility: hidden;

  &::before {
    content: "\00A7";
    font-size: 0.85em;
  }
}

:hover > a.anchor,
a.anchor:hover {
  visibility: visible;
}

#navbar {
  text-align: center;
  li {
    list-style-type: none;
    font-size: 20pt;
    display: inline-block;
    margin: 0 5px 0 5px;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

h1 {
  text-align: center;
}

/*
.admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%}
.admonitionblock>table td.icon{text-align:center;width:80px}
.admonitionblock>table td.icon img{max-width:none}
.admonitionblock>table td.icon .title{font-weight:bold;font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase}
.admonitionblock>table td.content{padding-left:1.125em;padding-right:1.25em;border-left:1px solid #dddddf;color:rgba(0,0,0,.6);word-wrap:anywhere}
.admonitionblock>table td.content>:last-child>:last-child{margin-bottom:0}*/
